{% load i18n thumbnail cms_tags aldryn_blog_tags %}
{% load url from future %}

<ul class="blog-items">
	{% for post in posts %}
	<li>
		{% if image and post.key_visual_id %}<p class="blog-visual"><img src="{% thumbnail post.key_visual 60x60 crop %}" alt="" /></p>{% endif %}
		<h3><a href="{{ post.get_absolute_url }}">{% show_editable_model post "title" %}</a></h3>
		{% block blog_meta %}
		<p class="blog-meta">
			<span class="blog-date">{{ post.publication_start|date }}</span>
			<span class="blog-author">{% trans "by" %} <a href="{% url 'aldryn_blog:author-posts' post.author.username %}">{{ post.author|user_name }}</a></span>
			{% if post.tags and false %}
			<span class="blog-tags">{% for tag in post.tags %}<a href="{{ tag.get_absolute_url }}">{{ tag.name }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}</span>
			{% endif %}
		</p>
		{% endblock %}
		<div class="blog-lead">{% show_editable_model post "lead_in" "lead_in" "" safe %}</div>
		<p class="blog-more"><a href="{{ post.get_absolute_url }}">{% trans "read more" %}</a></p>
	</li>
	{% empty %}
	<li class="blog-empty"><p>{% trans "No entry found." %}</p></li>
	{% endfor %}
</ul>