{% load i18n thumbnail %}

<ul class="blog-items">
	 {% for post in posts %}
	<li>
		{% if image and post.key_visual_id %}<p class="blog-visual"><img src="{% thumbnail post.key_visual 200x100 crop %}" alt="" /></p>{% endif %}
		<h3><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h3>
		<p class="blog-date">{{ post.publication_start|date }}</p>
		<p class="blog-lead">{{ post.lead_in|safe|striptags|truncatewords:"25" }} <a href="{{ post.get_absolute_url }}">{% trans "read more" %}</a></p>
	</li>
	{% empty %}
	<li><p class="blog-empty">{% trans "No entry found." %}</p></li>
	{% endfor %}
</ul>