{% extends "aldryn_blog/base.html" %}
{% load i18n thumbnail aldryn_blog_tags %}
{% load url from future %}

{% block content_blog %}
<div class="blog-list">
    {% block blog_title %}<h2>{% trans "Blog Authors" %}</h2>{% endblock %}
    <ul class="blog-authors">
        {% for author in object_list %}
        <li><a href="{% url 'aldryn_blog:author-posts' author.slug %}">{{ author.get_full_name }} ({{ author.post_set.count }} articles)</a></li>
        {% empty %}
        <li class="blog-empty"><p>{% trans "No entry found." %}</p></li>
        {% endfor %}
    </ul>
</div>
{% endblock %}